# The 3 Most Basic Objects of Python: Expressions, Variables, & Functions  
  
## 0. Background and Overview

Python is an object-oriented programming language.  
  
An object is a collection of data (variables) and methods that operate on that data...  
  
In normal people terms, one thing usually lives inside of another thing.

### For this we will cover 3 main objects:

### 1. Expressions  
    e.g., -1, 3.14, 'The Office', ("Pam", "Angela", "Kelly")
    
### 2. Variables  
    e.g.,  no_seasons = 9, famous_quote = "That's what she said"

### 3. Functions
    e.g., print("Hello Dunder Mifflin"), math.sum(1, 2)

## 1. Expressions  
  
### Numbers

In [1]:
9   # This is a comment, everything to the right of a hashtag (pound sign) is not read by the python interpreter

9

In [2]:
20.5    # Numbers are typically either integers or floats (can also be complex.... ðŸ¤® )

20.5

### Strings

In [3]:
'I am Beyonce, always'

'I am Beyonce, always'

In [4]:
"Tell him to call me ASAP as possible. ðŸ˜‚ "     # Strings can be in either 'single' or "double" quotes

'Tell him to call me ASAP as possible. ðŸ˜‚ '

In [5]:
""" Sometimes Iâ€™ll start a sentence and 
I donâ€™t even know where itâ€™s going. 
I just hope I find it along the way."""

' Sometimes Iâ€™ll start a sentence and \nI donâ€™t even know where itâ€™s going. \nI just hope I find it along the way.'

### Boolean Values

In [6]:
True

True

In [7]:
False

False

### Lists []

In [8]:
['Michael', 'Dwight', 'Stanley', 'Michael']   # Lists are mutable (i.e., we can change them)

['Michael', 'Dwight', 'Stanley', 'Michael']

### Tuples ()

In [9]:
("Pam", "Angela", "Kelly", "Pam")      # Tuples are immutable (i.e., we can't change them)

('Pam', 'Angela', 'Kelly', 'Pam')

### Set {}

In [10]:
{3, 2, 1, 1, 1, 1}    # sets are unordered collections with no duplicates

{1, 2, 3}

### Dictionaries {}

In [11]:
{"Dwight" : 48, "Jim": 34, "Pam": 40, "Michael": "No comment"}
# Indexed by keys (e.g., "Dwight") and contain values (e.g, 48)

{'Dwight': 48, 'Jim': 34, 'Pam': 40, 'Michael': 'No comment'}

## 2. Variables
Variables are containers for storing expressions 
   
Rules for viarables:  
1. Must start with letter (or underscore)  
2. Must be alpha-numeric &/or underscores  
3. It's cAsE sEnSiTive

In [12]:
episodes_season_1 = 6
episodes_season_1

6

In [13]:
episodes_season_1 = 6                                       # Make variable names something memorable, but not so long
is_michael_the_best_boss_ever = True                        # But try not to make them too long
male_cast = ['Michael', 'Dwight', 'Stanley', 'Andy']        # Reminder: this is a list (mutable)
female_cast = ('Pam', 'Angela', 'Kelly', 'Meredith')        # Reminder: this is a tuple (immutable)
ages_cast = {"Dwight" : 48, "Jim": 34, "Pam": 40, "Michael": "No comment"}

## 3. Function Calls

#### Operators

In [14]:
a = 5 * (4 - 2) # 10 (Use of parenthesis to control order)
b = 5 + 4 / 2   # 7 (Order of operations with no parenthesis)
c = 5 // 2  # 2 (Floor Division - How many times will 2 go evenly into 5?)
d = 5 % 2   # 1 (Modulus - What is remainder after 5 is divided by 2?)
e = 5 ** 2  # 25 (Exponentation)

a, b, c, d, e

(10, 7.0, 2, 1, 25)

#### Methods

In [15]:
male_cast.append("Kevin")

In [16]:
ages_cast.keys()    # For dictionaries we can get the 'keys'; no argument is required within ()

dict_keys(['Dwight', 'Jim', 'Pam', 'Michael'])

#### Built-in Functions
Python has a number of built in functions:  https://docs.python.org/3/library/functions.html

In [17]:
abs(-1)     # Place the item w/in parenthesis to evaluate it

1

In [18]:
print(female_cast)    # Print is good for debugging and printing to the console your object

('Pam', 'Angela', 'Kelly', 'Meredith')

In [19]:
type(male_cast)     # This tells the type of object

list

#### Imported Functions

In [20]:
import math     # Math is part of Python's Standard Library and doesn't have to be installed with conda/pip

In [21]:
type(math)      # For imports, Python searches for the module and then creates a module object intializing it

module

In [22]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [23]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [24]:
math.sqrt(4)    # We access the square root function of math with a period

2.0

## 4. Application  
  
Let's put we learned to the test.  
  
Here is a list of actors from the office, it lists every time an actor appears in the first few scenes of the first episode.

## What percentage does 'Michael' appear in this list?

In [25]:
actors = ['Michael', 'Jim', 'Michael', 'Jim', 'Michael', 'Michael', 'Michael', 'Pam', 'Michael', 'Pam', 'Michael',  'Pam', 'Michael', 'Pam', 'Michael', 'Michael', 'Dwight', 'Jim', 'Michael', 'Jim', 'Michael', 'Dwight', 'Michael',  'Dwight', 'Michael', 'Jim', 'Michael', 'Jim', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan',  'Michael', 'Pam', 'Michael', 'Pam', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Jan', 'Michael', 'Michael', 'Jan', 'Michel', 'Todd Packer', 'Michael', 'Todd Packer', 'Michael',  'Todd Packer', 'Michael', 'Jan', 'Michael', 'Phyllis', 'Stanley', 'Oscar', 'Angela', 'Kevin', 'Pam', 'Jim', 'Pam',  'Jim', 'Michael', 'Michael', 'Ryan', 'Pam', 'Michael', 'Ryan', 'Michael', 'Ryan', 'Michael']

In [26]:
# Approach
# 1. How many times Michael appears
# 2. How many total items are the in the list
# 3. Divide values

In [27]:
michael_count = actors.count('Michael')

In [28]:
all_count = len(actors)     # Google it

In [29]:
percent_michael = michael_count/all_count*100
percent_michael

46.34146341463415

## What is average age of the cast of 'The Office'?

In [30]:
ages_cast = {"Dwight" : 39, "Jim": 25, "Pam": 31, "Michael": 43, "Kelly": 24, "Creed": 62, "Angela": 34, "Phyllis": 53, "Meredith": 40, "Ryan": 25, "Jan":37}

In [31]:
# Approach
# 1. Get the ages only
# 2. Sum up all the ages
# 3. Divide sum by the count of the ages

In [32]:
ages = ages_cast.values()

In [33]:
ages = list(ages)

In [34]:
average_age = sum(ages) / len(ages)

In [35]:
average_age

37.54545454545455